.skill {
    width: 90%;
    margin: 0 auto 5px auto;
    padding: 15px 60px;
    background-color: #ffffff;
}

.skill a {
    display: flex;
    align-items: center;
}

.skill a img {
    width: 20%;
    height: 20%;
}

.skill a p {
    padding-left: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
}